<header>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Main</a></li>
            <li><a href="{{ url_for('csm.index') }}">CSM</a></li>
            <li><a href="{{ url_for('hjw.index') }}">HJW</a></li>
            <li><a href="{{ url_for('hyl.index') }}">HYL</a></li>
            <li><a href="{{ url_for('jsw.index') }}">JSW</a></li>
            <li><a href="{{ url_for('ksj.index') }}">KSJ</a></li>
            <li><a href="{{ url_for('ssm.index') }}">SSM</a></li>
        </ul>
    </nav>
</header>
