<header>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Main</a></li>
            <li><a href="{{ url_for('csm.index') }}">CSM-news</a></li>
            <li><a href="{{ url_for('hjw.index') }}">HJW-login</a></li>
            <li><a href="{{ url_for('hyl.index') }}">HYL</a></li>
            <li><a href="{{ url_for('jsw.index') }}">JSW-Q&A</a></li>
            <li><a href="{{ url_for('ksj.index') }}">KSJ-gmae-discount</a></li>
            <li><a href="{{ url_for('ssm.index') }}">SSM-game-guide</a></li>
        </ul>
    </nav>
</header>
