<!-- templates/main.html -->
{% extends 'common/base.html' %}

{% block title %}Home - Game Achive{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/hyl-css/main.css') }}">
{% endblock %}

{% block content %}
<div class="board-section">
    <!-- 슬라이드쇼 추가 -->
    <div class="news-section">
        <div class="image-slider">
            <div class="slide">
                <img src="{{ url_for('static', filename='images/slide1.jpg') }}" alt="Slide 1" class="slider-image">
                <div class="slide-text">
                    <h2>Game News Title 1</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing</p>
                </div>
            </div>
            <div class="slide">
                <img src="{{ url_for('static', filename='images/slide2.jpg') }}" alt="Slide 1" class="slider-image">
                <div class="slide-text">
                    <h2>Game News Title 2</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing</p>
                </div>
            </div>
            <div class="slide">
                <img src="{{ url_for('static', filename='images/slide3.jpg') }}" alt="Slide 1" class="slider-image">
                <div class="slide-text">
                    <h2>Game News Title 3</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing</p>
                </div>
            </div>
        </div>
        <div class="news-list">
            <h1>
                <a href="#">Hot Game News</a>
            </h1>
            <ol class="olcards">
                <li>
                    <div class="content">
                        <div class="icon">🥞</div>
                        <div class="title">Lorem Ipsum</div>
                        <div class="text">1 hours ago</div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="icon">🚕</div>
                        <div class="title">Lorem Ipsum</div>
                        <div class="text">3 hours ago</div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="icon">😸</div>
                        <div class="title">Lorem Ipsum</div>
                        <div class="text">4 hours ago</div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="icon">🦉</div>
                        <div class="title">Lorem Ipsum</div>
                        <div class="text">2 days ago</div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="icon">🤗</div>
                        <div class="title">Lorem Ipsum</div>
                        <div class="text">3 days ago</div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/hyl-js/main.js') }}"></script>
{% endblock %}
