/* ----------- 폰트 목록 ----------- */
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@font-face {
    font-family: 'intelone-mono-font-family-italic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* ----------- 기본 스타일 ----------- */
body {
    background: white;
    color: white;
    font-family: 'intelone-mono-font-family-italic';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

/* ----------- 하이퍼링크 스타일 ----------- */
a {
    color: #fff !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline;
}
